
  <td>{{contact.name}}</td>
  <td>{{contact.phone}}</td>
    <td>
      <a href="#"><button class="custom_btn_style"><fa-icon [icon]="faTrashAlt" (click)="onDeleteContact(contact)" class="custom_icon_style"></fa-icon></button></a>
      /<a href="#"><button class="custom_btn_style" ><fa-icon [icon]="faEdit" class="custom_icon_style"></fa-icon></button>
        <button  class="custom_btn_style" ><fa-icon [icon]="faCheck" class="custom_icon_style CheckIcon_hidden"></fa-icon></button>
      </a>
    </td>
